body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .navbar-brand, .nav-link, .btn, p, span, div {
    font-family: inherit !important;
    font-style: normal !important;
}

.card {
    border: none;
    border-radius: 10px;
}

.navbar-brand {
    font-weight: bold;
 
}

.sidebar {
    min-height: calc(100vh - 56px);
}

.sidebar .nav-link {
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
}

.sidebar .nav-link:hover {
    background-color: #f8f9fa;
    color: #0d6efd;
}

.sidebar .nav-link.active {
    background-color: #e9ecef;
    color: #0d6efd;
    font-weight: bold;
}
.navbar
{
   background-color: #FFFF00;
   position: relative;

}